@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,900&family=Roboto:wght@300;400;500&family=Shrikhand&display=swap');


* ,::after ,::before {
    box-sizing: border-box;
}
body{
    margin: 0px;
    font-family: "Roboto", sans-serif;
}
main{
    padding: 10px 112px;
    @media (max-width: 800px) {
        padding: 0 1rem;
    }
}
h3, p{
    margin: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
