@import "../utils/mixins.scss";
@import "../utils/mixins.scss";
@import "../utils/mixins.scss";
@import "../utils/color.scss";
.réservation {
    text-align: center;
    padding: 20px 30px;
    background-color: $lightgrey;
    & p{
       padding: 20px;
    }
     & button{
        width: 250px;
        height: 60px;
        font-size: 17px;
        padding: 15px 20px;
        border-radius: 32px;
        cursor: pointer;
        color: white;
        font-weight: 400;
        border: none;
        @include mixinslinear-gradien;
        @include mixinsbox-shadow;
        @media (max-width:900px) {
           text-align: center;
           width: 100%;
        }
     }
     & button:hover{
       @include mixins-zoom;
        opacity: 1;
     } 
}