@import "../utils/mixins.scss";
@import "../utils/mixins.scss";
@import "../utils/mixins.scss";
@import "../utils/color.scss";
.réservation {
    text-align: center;
    padding: 20px 30px;
    background-color: $lightgrey;
    & p{
       padding: 20px;
    }
     & button{
        @include mixinsbutton;
        @media (max-width:900px) {
           text-align: center;
           width: 100%;
        }
     }
     & button:hover{
       @include mixins-zoom;
        opacity: 1;
     } 
}