@import "../utils/mixins.scss";
@import "../utils/color.scss";
@import "../utils/animation.scss";

.header{
    position: relative;
    display: flex;
    align-items: center;
}
.header-menu{
    position: absolute;
    left: 35px;
    font-size: 20px;
    cursor: pointer;
}

img{
    width: 100%;
    height: 60vh;
    object-fit: cover;
    display: block;
}
.menu{
    position: relative;
    .menu-header{
        display: flex;
        align-items: center;    
        position: relative;
        margin-top: -5rem;
        border-radius: 2rem 2rem 0 0;
        height: 100px;
        background-color: $lightgrey;
    & h2{
    font-family: "shrikhand",sans-serif;
    padding: 10px 30px;
}
    i{
    font-size: 30px;
    position: absolute;
    right: 23px;
    top: 33px;
    padding: 5px;
}
   .fas{
   color: transparent;
   background-clip: text;
   -webkit-background-clip: text;
   opacity: 0;
   transition: all 200ms;
   @include mixinslinear-gradien;
}
    &:hover .fas{
    opacity: 1;
    transform: scale(1.2);
}
    } 
    &-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    background-color: $lightgrey;
    @media (max-width:900px) {
       grid-template-columns: 1fr;
    }
    }
    &-group{
       overflow: hidden;
        h3{
            padding: 10px;
            margin-bottom: 1rem;
            position: relative;
            font-weight: 300;
         &::after{
             content: "";
            position: absolute;
            left: 10px;
            bottom: 1px;;
            width: 3rem;
            height: 4px;
            background-color: $tertiary;
         }   
        }
        .menu-group_list{
         background-color: white;
         border-radius: 1rem;
         @include mixinsbox-shadow;
         margin: 22px;
         overflow: hidden;
         cursor: pointer;
         opacity: 0;
         animation: see 1s;
         animation-fill-mode: forwards;
         &.case-1{
             animation-delay: 100ms;
         }
         &.case-2{
             animation-delay: 200ms;
         }
         &.case-3{
             animation-delay: 300ms;
         }
         &.case-4{
             animation-delay:400ms ;
         }
         &.case-5{
             animation-delay: 500ms;
         }
         &.case-6{
             animation-delay: 600ms;
         }
         &.case-7{
             animation-delay: 700ms;
         }
         &.case-8{
             animation-delay: 800ms;
         }
         &.case-9{
             animation-delay: 900ms;
         }
         &.case-10{
             animation-delay: 1000ms;
         }
         .menu-group_card{
             display: flex;
             border-radius: 1rem;

             .menu-group_description{
                 padding: 1.5rem;  
                 overflow: hidden;
            h4{
              margin: 0rem;
              font-weight: 500;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            p{
                font-weight: 300;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;  
            }
         }
         .menu-group_prix{
            margin-left: auto;
            font-weight: 600;
            padding: 1rem;
            display: flex;
            align-items: flex-end;
         }
         .menu-group_slide{
           background-color: $tertiary;
           border-radius: 0 1rem 1rem 0;
           margin-right: -4rem;
           width: 4rem;
           transition: margin-right 0.5s;
           display: flex;
           justify-content: center;
           align-items: center;
           flex-shrink: 0;
           i{
            font-size: 25px;
            color: white;   
           }
         }
         &:hover{
         .menu-group_slide{
           margin-right: 0;  
         }
         i{
         @include quartdetour;    
        animation: 0.5s ease-in-out quartdetour;
         }
        }
        
        }
        
        }
   
}
.menu-button{
    height: 25vh;
    display: grid;
    place-items: center;
    background-color: $lightgrey;
    .button-order{
        @include mixinsbutton;
        width: 200px;
       font-size: 20px;
    
    }
}
 
}
